@inject IInterestManager InterestManager
@inject IJSRuntime JSRuntime

<EditForm class="form-group" Model="@InterestToCreate" OnSubmit="CreateThisInterest">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText class="form-control" Placeholder="Interest" @bind-Value="InterestToCreate.Name"></InputText>
    <button type="submit" class="btn btn-primary">Create</button>
</EditForm>

@code {

    [Parameter]
    public CreateInterestsModel InterestToCreate { get; set; }
    [Parameter]
    public UserModel? CurrentUser { get; set; }

    public async Task CreateThisInterest()
    {
        if (CurrentUser != null)
        {
            InterestToCreate.UserID = CurrentUser.Id;
        }

        InterestModel createdInterest = await InterestManager.CreateNewInterest(InterestToCreate);
        if(createdInterest == null)
        {
            await JSRuntime.InvokeVoidAsync("alert", "An interest by this name already exists");
        }
        StateHasChanged();
    }
}
