@page "/"

@inject IInterestManager InterestManager
@inject ILoginManager LoginManager


<PageTitle>Index</PageTitle>
<h3>Login</h3>
<Login></Login>
<h3>Signup</h3>
<Signup></Signup>

<h4>You're logged in as:</h4>


@if (CurrentUser != null)
{
    <h5>@CurrentUser.Username</h5>
    if (@CurrentUser.UserInterests != null)
    {
        foreach (var item in CurrentUser.UserInterests)
        {
            <p>@item.Interest.Name</p>
        }
    }

    @*<Interests CurrentUser="@CurrentUser"></Interests>*@

}

@code {
    string Username { get; set; }

    UserModel CurrentUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentUser = await LoginManager.GetLoggedInUser();
        if (CurrentUser != null)
        {
            Username = CurrentUser.Username;
            StateHasChanged();
        }


    }
}