@page "/"

@inject IInterestManager InterestManager
@inject ILoginManager LoginManager


<PageTitle>Index</PageTitle>

@if (CurrentUser == null)
{
    <div class="p-5  bg-light rounded-3">
        <h1 class="display-4">Welcome to Fora!</h1>
        <p class="lead">Sign up to explore and contribute to our discussion forum!</p>
        <p class="lead">
            <a class="btn btn-outline-primary btn-lg" href="/signup" role="button">Signup</a>
            <a class="btn btn-outline-primary btn-lg" href="/signup" role="button">Log In</a>
        </p>
    </div>
}
else
{
    <div class="p-5 bg-light rounded-3">
        <h1 class="display-4">Hello, @CurrentUser.Username</h1>
        <p class="lead">Explore our forums <a href="/forums">here</a></p>
        <p class="lead">Or if you're not sure you have set all your interests, set them at your profile page <a href="/profile/@CurrentUser.Id">here</a></p>
    </div>
}




@code {

    UserModel CurrentUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentUser = await LoginManager.GetLoggedInUser();
        if (CurrentUser != null)
        {
            StateHasChanged();
        }


    }
}