@page "/"

@inject IInterestManager InterestManager


<PageTitle>Index</PageTitle>
<Signup></Signup>

@foreach (var item in Interest)
{
    <p>item.Name</p>
}

@code {
    [Parameter]
    public List<InterestModel>? Interest {get; set;}

    public async Task OnInitializedAsync()
    {
        Interest = await InterestManager.GetInterests();
    }
}