@page "/signup"

@inject IUserManager UserManager
@inject ILoginManager LoginManager
@inject IJSRuntime JSRuntime

<EditForm Model="User" OnSubmit="HandleSubmit"> 
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <InputText @bind-Value="User.Username" Placeholder="Username"></InputText>
    <InputText @bind-Value="User.SignUpPassword" Placeholder="Password"></InputText>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>
@code {
    [Parameter]
    public UserModel User { get; set; } = new();

    public async Task HandleSubmit()
    {
        Console.WriteLine("Submitted");
        //Calls method to
        await InitializeUser(); // Set all values

        await UserManager.Create(User);
        Console.WriteLine("Created!");
        await LoginManager.LogInWithUser(User.Username, User.SignUpPassword);
        await JSRuntime.InvokeAsync<UserModel>("console.log", User);
    }

    async Task InitializeUser()
    {
        User.Id = 1;
        User.Interests = new List<InterestModel>();
        User.UserInterests = new List<UserInterestModel>();
        User.Messages = new List<MessageModel>();
        User.Threads = new List<ThreadModel>();
        User.Deleted = false;
        User.Banned = false;
    }

}
