@inject IInterestManager InterestManager
@inject IJSRuntime JSRuntime

<div class="form-group">
<EditForm Model="@InterestToCreate" OnSubmit="CreateThisInterest">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group w-50">
        <InputText class="form-control" Placeholder="Interest" @bind-Value="InterestToCreate.Name"></InputText>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</EditForm>
</div>

@code {

    [Parameter]
    public CreateInterestsModel InterestToCreate { get; set; }
    [Parameter]
    public UserModel? CurrentUser { get; set; }
    [Parameter]
    public EventCallback UpdateParent { get; set; }

    public async Task CreateThisInterest()
    {
        if (CurrentUser != null)
        {
            InterestToCreate.UserID = CurrentUser.Id;
        }

        InterestModel createdInterest = await InterestManager.CreateNewInterest(InterestToCreate);
        if(createdInterest == null)
        {
            await JSRuntime.InvokeVoidAsync("alert", "An interest by this name already exists");
        }
        StateHasChanged();
        if(UpdateParent.HasDelegate)
        {
            await UpdateParent.InvokeAsync();
        }


    }
}
