@inject IInterestManager InterestManager
@inject ILoginManager LoginManager
@inject IUserManager UserManager

<div class="card mb-4">
    <div class="card-header">
        <p>Admin Panel</p>
    </div>
    <div class="card-body">
        <AdminGiver UpdateParent="@UpdateParent" CurrentUser="CurrentUser">

        </AdminGiver>
        <AdminBanUser UpdateParent="@UpdateParent" CurrentUser="CurrentUser">

        </AdminBanUser>
    </div>
</div>

@code {

    [Parameter]
    public UserModel CurrentUser { get; set; }

    [Parameter]
    public EventCallback UpdateParent { get; set; }

}
