@inject IInterestManager InterestManager
@inject ILoginManager LoginManager
@inject IUserManager UserManager

<div class="card mb-4">
    <div class="card-header">
        <p>Ban User</p>
    </div>
    <div class="card-body">
        @if (!DisplayUser.Banned)
        {
            <button @onclick="BanUser" class="btn btn-danger">Ban @DisplayUser.Username</button>
        }
        else
        {
            <button @onclick="UnbanUser" class="btn btn-warning">Unban @DisplayUser.Username</button>
        }
    </div>
</div>

@code {

    [Parameter]
    public UserModel CurrentUser { get; set; }

    UserModel DisplayUser { get; set; }

    [Parameter]
    public EventCallback UpdateParent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        DisplayUser = CurrentUser;
    }

    async Task BanUser()
    {
        await UserManager.UpdateUser(new PostUserUpdateModel()
            {
                Id = CurrentUser.Id,
                DeleteUser = false,
                BanUser = true
            });

        await ReloadComponent();
    }

    async Task UnbanUser()
    {
        await UserManager.UpdateUser(new PostUserUpdateModel()
            {
                Id = CurrentUser.Id,
                DeleteUser = false,
                BanUser = false,
            });

        await ReloadComponent();
    }

    async Task ReloadComponent()
    {
        if (UpdateParent.HasDelegate)
        {
            DisplayUser = await UserManager.GetById(CurrentUser.Id);
            await UpdateParent.InvokeAsync();
            StateHasChanged();
        }
    }

}
