@using Components.Administration;
@using Components.User;
@using Components.Utilities;

@inject IUserManager UserManager

@if (HasModalLoaded)
{
    <div class="card">
        @if (FullUserModel != null)
        {
            <a class="text-decoration-none" href="/profile/@FullUserModel.Id">
                <img class="card-img-top" src="@FullUserModel.ImageUrl">
                <div class="card-body">
                    <h6 class="card-title">@FullUserModel.Username</h6>
                    @if (HasModalLoaded)
                    {
                        <UserRank Role="@FullUserModel.UserRole.Role.Role">

                        </UserRank>
                        <UserStatus User="@FullUserModel">

                        </UserStatus>
                    }


                </div>
            </a>
        }

    </div>
}

@code {
    [Parameter]
    public UserModel CurrentUser { get; set; }

    UserModel FullUserModel { get; set; }

    bool HasModalLoaded = false;


    protected override async Task OnInitializedAsync()
    {
        await ReloadUser();
    }

    public async Task ReloadUser()
    {
        FullUserModel = await UserManager.GetById(CurrentUser.Id);
        HasModalLoaded = true;
        StateHasChanged();
    }
}
